USE [OpcTagMgr]
GO
/****** Object:  Table [dbo].[KepwareDeviceHistory]    Script Date: 9/16/2026 8:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KepwareDeviceHistory](
	[KepwareHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[SnapshotTime] [datetime2](3) NOT NULL,
	[IPAddress] [varchar](15) NULL,
	[ChannelName] [nvarchar](512) NOT NULL,
	[DeviceName] [nvarchar](512) NOT NULL,
	[DevicePath] [nvarchar](2000) NOT NULL,
	[DriverName] [nvarchar](512) NULL,
	[Enabled] [bit] NULL,
	[RawIdentityFields] [nvarchar](max) NOT NULL,
	[NetworkId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KepwareHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NetworkDeviceManualHistory]    Script Date: 9/16/2026 8:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetworkDeviceManualHistory](
	[ManualHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[IPAddress] [varchar](15) NOT NULL,
	[MachineName] [nvarchar](2000) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[Location] [nvarchar](2000) NOT NULL,
	[Remark] [nvarchar](2000) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[UpdatedBy] [nvarchar](256) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[NetworkId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ManualHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NetworkInventoryRun]    Script Date: 9/16/2026 8:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetworkInventoryRun](
	[RunSequence] [bigint] IDENTITY(1,1) NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[StartedAt] [datetime2](3) NOT NULL,
	[FinishedAt] [datetime2](3) NOT NULL,
	[ScanStartIP] [varchar](15) NOT NULL,
	[ScanEndIP] [varchar](15) NOT NULL,
	[TriggeredBy] [nvarchar](256) NOT NULL,
	[TotalIPs] [int] NOT NULL,
	[OnlineCount] [int] NOT NULL,
	[KepwareSnapshotComplete] [bit] NOT NULL,
	[KepwareError] [nvarchar](2000) NULL,
	[NetworkId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RunSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NetworkScanHistory]    Script Date: 9/16/2026 8:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetworkScanHistory](
	[ScanHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[IPAddress] [varchar](15) NOT NULL,
	[IsOnline] [bit] NOT NULL,
	[ResponseMs] [float] NULL,
	[MACAddress] [varchar](17) NULL,
	[HostName] [nvarchar](512) NULL,
	[Vendor] [nvarchar](512) NULL,
	[DeviceType] [nvarchar](512) NULL,
	[DeviceModel] [nvarchar](512) NULL,
	[DetectionSource] [nvarchar](1000) NOT NULL,
	[ScanTime] [datetime2](3) NOT NULL,
	[ScanError] [nvarchar](2000) NULL,
	[NetworkId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScanHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NetworkScan_RunIP] UNIQUE NONCLUSTERED 
(
	[RunId] ASC,
	[IPAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTNetworkProfile]    Script Date: 9/16/2026 8:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTNetworkProfile](
	[NetworkId] [int] IDENTITY(1,1) NOT NULL,
	[NetworkName] [nvarchar](100) NOT NULL,
	[ScanStart] [varchar](45) NOT NULL,
	[ScanEnd] [varchar](45) NOT NULL,
	[NicName] [nvarchar](255) NULL,
	[NicMac] [varchar](50) NULL,
	[SourceIP] [varchar](45) NULL,
	[KepwareChannel] [nvarchar](255) NULL,
	[Enabled] [bit] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NetworkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_OTNetworkProfile_Name] UNIQUE NONCLUSTERED 
(
	[NetworkName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OTNetworkProfile] ADD  CONSTRAINT [DF_OTNetworkProfile_Enabled]  DEFAULT ((1)) FOR [Enabled]
GO
ALTER TABLE [dbo].[OTNetworkProfile] ADD  CONSTRAINT [DF_OTNetworkProfile_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OTNetworkProfile] ADD  CONSTRAINT [DF_OTNetworkProfile_Updated]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[KepwareDeviceHistory]  WITH CHECK ADD FOREIGN KEY([RunId])
REFERENCES [dbo].[NetworkInventoryRun] ([RunId])
GO
ALTER TABLE [dbo].[KepwareDeviceHistory]  WITH CHECK ADD  CONSTRAINT [FK_KepwareDeviceHistory_NetworkProfile] FOREIGN KEY([NetworkId])
REFERENCES [dbo].[OTNetworkProfile] ([NetworkId])
GO
ALTER TABLE [dbo].[KepwareDeviceHistory] CHECK CONSTRAINT [FK_KepwareDeviceHistory_NetworkProfile]
GO
ALTER TABLE [dbo].[NetworkDeviceManualHistory]  WITH CHECK ADD  CONSTRAINT [FK_NetworkDeviceManualHistory_NetworkProfile] FOREIGN KEY([NetworkId])
REFERENCES [dbo].[OTNetworkProfile] ([NetworkId])
GO
ALTER TABLE [dbo].[NetworkDeviceManualHistory] CHECK CONSTRAINT [FK_NetworkDeviceManualHistory_NetworkProfile]
GO
ALTER TABLE [dbo].[NetworkInventoryRun]  WITH CHECK ADD  CONSTRAINT [FK_NetworkInventoryRun_NetworkProfile] FOREIGN KEY([NetworkId])
REFERENCES [dbo].[OTNetworkProfile] ([NetworkId])
GO
ALTER TABLE [dbo].[NetworkInventoryRun] CHECK CONSTRAINT [FK_NetworkInventoryRun_NetworkProfile]
GO
ALTER TABLE [dbo].[NetworkScanHistory]  WITH CHECK ADD FOREIGN KEY([RunId])
REFERENCES [dbo].[NetworkInventoryRun] ([RunId])
GO
ALTER TABLE [dbo].[NetworkScanHistory]  WITH CHECK ADD  CONSTRAINT [FK_NetworkScanHistory_NetworkProfile] FOREIGN KEY([NetworkId])
REFERENCES [dbo].[OTNetworkProfile] ([NetworkId])
GO
ALTER TABLE [dbo].[NetworkScanHistory] CHECK CONSTRAINT [FK_NetworkScanHistory_NetworkProfile]
GO
ALTER TABLE [dbo].[NetworkInventoryRun]  WITH CHECK ADD  CONSTRAINT [CK_InventoryRun_Counts] CHECK  (([TotalIPs]>=(1) AND [TotalIPs]<=(254) AND ([OnlineCount]>=(0) AND [OnlineCount]<=[TotalIPs])))
GO
ALTER TABLE [dbo].[NetworkInventoryRun] CHECK CONSTRAINT [CK_InventoryRun_Counts]
GO
ALTER TABLE [dbo].[NetworkInventoryRun]  WITH CHECK ADD  CONSTRAINT [CK_InventoryRun_Times] CHECK  (([FinishedAt]>=[StartedAt]))
GO
ALTER TABLE [dbo].[NetworkInventoryRun] CHECK CONSTRAINT [CK_InventoryRun_Times]
GO
