USE [OpcTagMgr]
GO
/****** Object:  User [alarm_sound_runtime]    Script Date: 9/8/2026 7:04:11 PM ******/
CREATE USER [alarm_sound_runtime] FOR LOGIN [alarm_sound_runtime] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [opc_tag_manager_runtime]    Script Date: 9/8/2026 7:04:11 PM ******/
CREATE USER [opc_tag_manager_runtime] FOR LOGIN [opc_tag_manager_runtime] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [alarm_sound_runtime]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [alarm_sound_runtime]
GO
/****** Object:  Table [dbo].[Alarm_History]    Script Date: 9/8/2026 7:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alarm_History](
	[HistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[AlarmId] [int] NOT NULL,
	[TagId] [bigint] NOT NULL,
	[TagPath] [nvarchar](1000) NOT NULL,
	[AlarmMode] [nvarchar](20) NULL,
	[ThresholdHigh] [float] NULL,
	[ThresholdLow] [float] NULL,
	[CurrentValue] [float] NULL,
	[Mp3File] [nvarchar](500) NULL,
	[CreatedTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alarm_Lists]    Script Date: 9/8/2026 7:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alarm_Lists](
	[AlarmId] [int] IDENTITY(1,1) NOT NULL,
	[TagId] [bigint] NOT NULL,
	[TagPath] [nvarchar](1000) NOT NULL,
	[AlarmMode] [nvarchar](20) NOT NULL,
	[ThresholdHigh] [float] NULL,
	[ThresholdLow] [float] NULL,
	[Mp3File] [nvarchar](500) NOT NULL,
	[Priority] [int] NOT NULL,
	[RepeatEnable] [bit] NOT NULL,
	[EnableAlarm] [bit] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[Repeat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AlarmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BrowserRun]    Script Date: 9/8/2026 7:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrowserRun](
	[RunId] [bigint] IDENTITY(1,1) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NULL,
	[TotalTags] [int] NULL,
	[CreatedTime] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagLevel]    Script Date: 9/8/2026 7:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagLevel](
	[TagLevelId] [bigint] IDENTITY(1,1) NOT NULL,
	[TagId] [bigint] NOT NULL,
	[LevelNo] [int] NOT NULL,
	[LevelName] [nvarchar](255) NOT NULL,
	[CreatedTime] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TagLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagMaster]    Script Date: 9/8/2026 7:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagMaster](
	[TagId] [bigint] IDENTITY(1,1) NOT NULL,
	[NodeId] [nvarchar](1000) NOT NULL,
	[Path] [nvarchar](1000) NOT NULL,
	[DataType] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedTime] [datetime2](7) NOT NULL,
	[UpdatedTime] [datetime2](7) NOT NULL,
	[LastBrowseRunId] [bigint] NULL,
	[LineName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alarm_History] ADD  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Alarm_Lists] ADD  DEFAULT ('DIGITAL') FOR [AlarmMode]
GO
ALTER TABLE [dbo].[Alarm_Lists] ADD  DEFAULT ((1)) FOR [Priority]
GO
ALTER TABLE [dbo].[Alarm_Lists] ADD  DEFAULT ((0)) FOR [RepeatEnable]
GO
ALTER TABLE [dbo].[Alarm_Lists] ADD  DEFAULT ((1)) FOR [EnableAlarm]
GO
ALTER TABLE [dbo].[Alarm_Lists] ADD  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Alarm_Lists] ADD  DEFAULT (getdate()) FOR [UpdatedTime]
GO
ALTER TABLE [dbo].[BrowserRun] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[TagLevel] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[TagMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TagMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[TagMaster] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedTime]
GO
ALTER TABLE [dbo].[TagLevel]  WITH CHECK ADD  CONSTRAINT [FK_TagLevel_TagMaster] FOREIGN KEY([TagId])
REFERENCES [dbo].[TagMaster] ([TagId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagLevel] CHECK CONSTRAINT [FK_TagLevel_TagMaster]
GO
ALTER TABLE [dbo].[TagMaster]  WITH CHECK ADD  CONSTRAINT [FK_TagMaster_BrowserRun] FOREIGN KEY([LastBrowseRunId])
REFERENCES [dbo].[BrowserRun] ([RunId])
GO
ALTER TABLE [dbo].[TagMaster] CHECK CONSTRAINT [FK_TagMaster_BrowserRun]
GO
